* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

/* .root {
  height: 100%;
} */

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.y-wrap {
  margin: 0 auto;
  width: 95%;
}

input, button {
  font-size: .9rem;
  padding: 4px;
}

input {
  margin-right: 5px;
}

button {
  font-weight: bold;
}

header {
  padding-top: 20px;
}

footer {
  padding: 30px 0;
}

footer,
header {
  background-color: black;
  color: white;
}

main {
  flex: 1 0 auto;
  padding: 20px 0;
}

.nav-bar {
  display: flex;
  width: 40%;
}


.nav-home, .nav-schedule,
.nav-teams, .nav-about {
  border: 2px solid white;
  font-size: 1.2rem;
  padding: 5px;
}

.nav-home:hover, .nav-schedule:hover,
.nav-teams:hover, .nav-about:hover {
  background-color: white;
  color: black;
}

.nav-home:after, .nav-schedule:after,
.nav-teams:after, .nav-about:after {
  color: #aaa;
}