@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.root {
  height: 100%;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.y-wrap {
  margin: 0 auto;
  width: 95%;
}

input, button {
  font-size: .9rem;
  padding: 4px;
}

input {
  margin-right: 5px;
}

input::placeholder {
  font-style: italic;
}

button {
  background-color: white;
  border: none;
  border-radius: 5%;
  color: #825736;;
  cursor: pointer;
  font-size: 1rem;
  height: 35px;
  width: 100px;
}

.follow-btn {
  font-size: 1.2rem;
  width: 10%;
}

.landing-btn {
  height: 20%;
  width: 30%;
}



header {
  padding-top: 20px;
}

footer {
  padding: 30px 0;
}

footer,
header {
  background-color: white;
  color: green;
}

main {
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1610729866389-fbf90649c302?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YW1lcmljYW4lMjBmb290YmFsbCUyMGZpZWxkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  flex: 1 0 auto;
  padding: 20px 0;
}

.nav-bar {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  width: 55%;
}

.search {
  display: flex;
  position: absolute;
}

.nav-home, .nav-schedule,
.nav-teams, .nav-about, .nav-login {
  font-size: 1.2rem;
  padding: 10px 0px;
}

.nav-home:hover, .nav-schedule:hover,
.nav-teams:hover, .nav-about:hover, .nav-login:hover {
  background-color: white;
  color: #3BA008;
}

.nav-home:after, .nav-schedule:after,
.nav-teams:after, .nav-about:after, .nav-login:after {
  color: #aaa;
}

.scoreboard {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.btn-wrap {
  display: flex;
  justify-content: space-evenly;
}

.team-score {
  background-color: white;
  border: none;
  border-radius: 5%;
  color: #3BA008;
  font-size: 1.2rem;
  margin: 0 20px;
  padding: 20px;
  text-align: center;
  width: 70%;
} 

.team-score h3 {
  height: 60px;
}

.team-score p {
  font-size: 2.0rem;
}

.versus {
  padding: 75px 0;
}

.schedule-header {
  margin-bottom: 20px;
}

.saved-games {
  background-color: blue;
  font-size: 1.1rem;
  margin: 15px;
}

button.active,
button.hover {
  background-color: #825736;
  color: white;
}

.landing-headline {
  background-color: #3BA008;
}