* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.root {
  height: 100%;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.y-wrap {
  margin: 0 auto;
  width: 95%;
}

input, button {
  font-size: .9rem;
  padding: 4px;
}

input {
  margin-right: 5px;
}

button {
  font-weight: bold;
}

header {
  padding-top: 20px;
}

footer {
  padding: 30px 0;
}

footer,
header {
  background-color: green;
  color: white;
}

main {
  flex: 1 0 auto;
  padding: 20px 0;
}

.nav-bar {
  display: flex;
  font-weight: bold;
  width: 50%;
}

.search {
  display: flex;
  position: absolute;
}

.nav-home, .nav-schedule,
.nav-teams, .nav-about {
  border: 2px solid white;
  font-size: 1.2rem;
  padding: 10px;
}

.nav-home:hover, .nav-schedule:hover,
.nav-teams:hover, .nav-about:hover {
  background-color: white;
  color: #3BA008;
}

.nav-home:after, .nav-schedule:after,
.nav-teams:after, .nav-about:after {
  color: #aaa;
}

.scoreboard {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.btn-wrap {
  display: flex;
  justify-content: space-evenly;
}

.team-score {
  border: 3px solid black;
  font-size: 1.2rem;
  height: 200px;
  margin: 0 20px;
  padding: 20px;
  text-align: center;
  width: 200px;
} 

.versus {
  padding: 75px 0;
}

button.active{
  background-color: black;
  color: white;
}